<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>
    <%# クロスサイトリクエストフォージェリーを防ぐためのメソッド %>

    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%# スタイルシートを展開するためのもの %>

    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%# JavaScriptを展開するためのもの %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
